<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventos </title>
</head>

<body>
<div id="main">
  <h2> Listado de tareas</h2>
  <hr>
  <h3>Agregar una tarea</h3>
  <input type="text" name="" id="" placeholder="Escribe el nombre de tu tarea" v-model="tarea">


  <button v-on:click="agregarTarea">Agregar tarea</button>

  <!--- se puede abreiar de otra manera con @ solo  si instalas todas sus dependencias-->
  
  <hr>
  <ul>
    <li v-for="item in tareas">{{item.titulo}}</li>
  </ul>
  <hr>
  <h3>Tareas Completadas</h3>
  <ul>
    
      <li v-for="item in mostrarCompletadas">{{item.titulo}}</li>
 
  </ul>
  <h3>Tareas por filtro</h3>
  <ul>
    
      <li v-for="item in mostrarPorTitulo">{{item.titulo}}</li>
 
  </ul>
</div>
</div>
     
<script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
    <script src="com.js"></script>
</body>

</html>